*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/test/dummy/log/*
/test/dummy/tmp/*
/test/dummy/db/*.sqlite3
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
Gemfile.lock
